<header>
    <nav>
        <div class="nav-wrapper #BC8F8F">
            <a href="/" class="brand-logo">Mysa Beauty Box</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <% if(consumer) { %>
                <li><a href="/">Home</a></li>
                <li><a href="/skincares">All Skincares</a></li>
                <li><a href="/skincares/new">Adding to Beauty Box</a></li>
                <% } else { %>
                <li><a href="/auth/google">Login With Google</a></li>
                <li><a href="/logout">Logout</a></li>
                <% } %>
            </ul>
        </div>
    </nav>
</header>