<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>
    <br></br>
    <nav>
        <a href="/skincares">SKINCARE</a>
    </nav>
    <br>
    <main class="container">
        <article class="about">
            <p>
                The beauty industry is known for their misleading claims that beauty products advertise their brand in
                order to convince consumers into buying their products.
                <br>
                Often times, we read about misinformation or come across legitimate scientific research that is
                misinterpreted or taken out of context to label an ingredient(s) as good or bad for the skin.
                <br>
                By using Mysa's Beauty Box Directory, users will be able to have access to information regarding what is
                in the product, what skin types it is most beneficial for, and the concerns it addresses.
            </p>
        </article>
        <hr>
        <br>
        <aside>
            <li> Recommended Ingredients to Avoid:
                <ul>
                    1,4 Dioxane
                    <br>
                    Abrasive Particles (salt, sugar, pumice)
                    <br>
                    Alcohol (SD, Denatured, Isopropyl, Ethyl)
                    <br>
                    Essential Oils
                    <br>
                    Formaldehyde (or Formaldehyde-Releasing Ingredients)
                    <br>
                    Fragrant Plant Extracts
                    <br>
                    Sodium Lauryl Sulfate
                    <br>
                    Synthetic Dyes and Fragrances
                    <br>
                    Toluene
                </ul>
            </li>
        </aside>
    </main>

    <%- include('./partials/footer') %>
</body>

</html>