<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>
    <br></br>
    <nav>
        <a href="/skincares">SKINCARE</a>
    </nav>
    <br></br>
    <aside>What You Get</aside>
        <p>Mysa Beauty Box allows you to be in full control with what you want
            in your monthly subscriptions! Each box is guaranteed to include MORE products and
            MORE full-size items. Each box will include: 
        </p>
        <ul>
            <li>1) Reason 1</li>
            <li>2) Reason 2</li>
            <li>3) Reason 3</li>
        </ul>
    <div class="grid-container">
        <div class="grid-item">Monthly</div>
            <span>$15/Month</span>
        <div class="grid-item">6 Months</div>
            <span>$13/Month</span>
        <div class="grid-item">12 Months</div>
            <span>$12/Month</span>

    </div>
    <%- include('./partials/footer') %>
</body>
</html>