<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>
    <br></br>
    <nav>
        <a href="/skincares">SKINCARE</a>
    </nav>
    <main class="container">
        <p>About</p>          
    </main>
    
    <%- include('./partials/footer') %>
</body>
</html>