* {
  box-sizing: border-box;
  margin: 0;
  font-family: Helvetica;
  color: #424748;

}


.brand-logo {
  margin-left: 30px;
  font-family: 'Baloo', cursive;
  color: #424748;

}


#search-row form {
  padding-top: 20px;
}


nav {
  background-color: #F4C2C2;
  height: 50px;

}


body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
  background-color: #F8F8FF;
}

main {
  flex-grow: 1;
  justify-content: flex-start;
}


footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 25px;
  padding: 7px;
  left: 0;
  bottom: 0;
  flex-direction: row;
  width: 100%;
  background-color: #FFF0F5;

}



.delete-form {
  display: inline-block;
  margin-right: 10px;
}

.delete-form button {
  color: red;
}

li {
  list-style: none;
  margin-bottom: 10px;
  font-weight: bolder;
  color: #424748;
}

article>p {
  display: inline-block;
  font-weight: bolder;
}