<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<body>
    <%- include('../partials/header') %>
    <h4>Add New Product</h4>
    <main class="container">
        <form action="/skincares" method="POST">
            <div class="input-field">
                <input type="text" name="skinType">
            <label>Skin Type</label>
        </div>
            <div class="input-field">
                    <input type="text" name="brandName">
                <label>Skincare Brand</label>
            </div>
            <div class="input-field">
                <input type="text" name="description">
                <label>Description</label>
            </div>
            <input class="btn btn-small" type="submit" value="Add Skincare">
        </form>
        

    </main>
    <%- include('../partials/footer') %>
</body>

</html>