<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<body>
    <%- include('../partials/header') %>
    <main class="container">
    <a href="/skincares/<%= skincares._id %>/skincares/new"></a>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>