<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<body>
    <%- include('../partials/header') %>
    <main class="container">
        <div class="grid-container">
            <div class="grid-item">Item 1</div>
               
            <div class="grid-item">Item 2</div>
               
            <div class="grid-item">Item 3</div>
    <a href="/skincares/<%= skincare._id %>/skincares/new"></a>
        </div>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>